@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  font-family: 'VT323', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Color setup */
/* BACKGROUND/BORDER
  darkred/brown: #3b241c;
  light yellow/beige: #edd99b */
/* FONT: white & black */
/* BUTTON COLOR
    grayish blue: #3d4362
    slightly darker: #2e3242*/